.row-img {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /* padding: 0 4px; */
}

.top, .bottom {
  position: absolute;
  width: 100%;
  min-width: 100%;
}
.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
}

.center {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 2em;
  margin-right: 2em;
  top: 5em;
  bottom: 5em;
  position: absolute;
  right: 0;
  left: 0;
}

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
