<div class="container-img separator"
     [ngClass]="{'min-size': service.edit}"
     *ngIf="service.edit">
  <div class="text-block-top d-flex justify-content-between edit-image"
       (click)="openDialog($event, name)">
    <p class="align-self-center"
       *ngIf="!service.hasUrl(name, child)">{{vt.translate('click.add.' + name)}}</p>
    <p class="align-self-center"
       *ngIf="service.hasUrl(name, child)">{{vt.translate('click.update.' + name)}}</p>
    <button *ngIf="service.hasUrl(name, child)"
            mat-button
            [matTooltip]="vt.translate('remove.picture')"
            (click)="removePicture($event, name)"
            class="align-self-center">
      <mat-icon>image_not_supported</mat-icon>
    </button>
  </div>
  <img [src]="service.getUrl(name, element.nativeElement.offsetWidth, child)"
       [alt]="service.getDescription(name, child)"
       (click)="openDialog($event, name)"
       (error)="service.onError(name, child)"
       class="img-fluid small edit-img-separator edit-image" />

</div>
<div class="separator separator-background"
     [ngStyle]="{'background-image': 'url(' + service.getUrl(name, element.nativeElement.offsetWidth, child) + ')'}"
     *ngIf="!service.edit"></div>
