<a [routerLink]="routerLink"
   [fragment]="fragmentLink"
   *ngIf="routerLink; else doubleBorder">
  <ng-template [ngTemplateOutlet]="doubleBorder"></ng-template>
</a>
<ng-template #doubleBorder>
  <div class="border-double-outside right-margin width"
       *ngIf="image?.hasUrl()">
    <div class="border-double-inside">
      <div class="container-img"
           *ngIf="image?.hasUrl()">
        <div class="text-block-white tcenter"
             *ngIf="title">
          <b>{{title}}</b>
        </div>
        <img [src]="image.url(element.nativeElement.offsetWidth)"
             [alt]="image.description">
      </div>
    </div>
  </div>

</ng-template>
