<fieldset [disabled]="service.loading">
  <form [formGroup]="form"
        (ngSubmit)="onSubmitClick()">

    <p mat-dialog-title>{{service.vt.translate('jsonld.editor')}}</p>
    <div mat-dialog-content>

      <mat-form-field class="full-width">
        <mat-label>JSonLD</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="10"
                  class="code-font"
                  formControlName="json"></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions
         class="d-flex flex-row-reverse">
      <button mat-icon-button
              [disabled]="!form || form.invalid"
              type="submit"
              [attr.aria-label]="service.vt.translate('save')">
        {{service.vt.translate('save')}}
      </button>
      <button mat-icon-button
              type="button"
              (click)="onCancelClick()">
        {{service.vt.translate('cancel')}}
      </button>
    </div>
  </form>
</fieldset>
