.row-img {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /* padding: 0 4px; */
}

.top, .bottom {
  position: absolute;
  width: 100%;
  min-width: 100%;
}
.top {
  top: 0px;
}

.bottom {
  bottom: 0px;
}

.center {
  display: flex;
  flex-wrap: nowrap;
  top: 5em;
  bottom: 5em;
  position: absolute;
  right: 0;
  left: 0;
  margin: 2em;
}

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  min-width: 80%;
}

.edit-img, .edit-img-separator {
  cursor: pointer;
}

.visible {
  display: inline;
}

.hidden {
  display: none !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
