<h1 *ngIf="title && !edit">{{getTranslation()}}<button mat-button
          [matTooltip]="vt.translate('edit.translation')"
          *ngIf="!edit && service.edit"
          class="small"
          (click)="edition($event)">
    <mat-icon>edit</mat-icon>
  </button>
</h1>
<p *ngIf="!title && !edit">{{getTranslation()}}<button mat-button
          [matTooltip]="vt.translate('edit.translation')"
          *ngIf="!edit && service.edit"
          class="small"
          (click)="edition($event)">
    <mat-icon>edit</mat-icon>
  </button>
</p>

<form (ngSubmit)="onSubmit($event)"
      (click)="stopPropagation($event)"
      class="cursor-default"
      [formGroup]="form">
  <div class="d-flex align-items-center pl1"
       [ngClass]="{'visible': edit, 'hidden': !edit}">
    <mat-form-field class="full-width w170">
      <app-translate #input
                     [isArea]="area"
                     [placeholder]="vt.translate(placeholder)"></app-translate>
    </mat-form-field>
  </div>
  <div class="d-flex flex-row-reverse"
       [ngClass]="{'visible': edit, 'hidden': !edit}">
    <button mat-button
            [matTooltip]="vt.translate('save.translation')"
            (click)="onSubmit($event)"
            class="small">
      <mat-icon class="pointer">save</mat-icon>
    </button>
    <button mat-button
            [matTooltip]="vt.translate('cancel.translation')"
            (click)="stopEdition($event)"
            class="small">
      <mat-icon class="pointer">cancel</mat-icon>
    </button>
  </div>
</form>
