.visible {
  display: inline;
}

.cursor-default {
  cursor: default;
}

.hidden {
  display: none !important;
}

.w170 {
  padding: 0.5em;
}

.small {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin: 0;
  min-width: 0;
}

.pl1 {
  padding-left: 0.5em;
}

h1 {
  margin: 0;
}

.wrap {
  flex-wrap: wrap;
}

::ng-deep .mat-form-field-label {
    color: currentColor!important;
}

::ng-deep .mat-form-field-underline {
  background-color: currentColor!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: currentColor!important;
}
