<h1 *ngIf="title && !edit">{{getTranslation()}}<button mat-button
          [matTooltip]="vt.translate('edit.translation')"
          *ngIf="!edit && service.edit"
          class="small"
          (click)="edit = true">
    <mat-icon>edit</mat-icon>
  </button>
</h1>
<p *ngIf="!title && !edit">{{getTranslation()}}<button mat-button
          [matTooltip]="vt.translate('edit.translation')"
          *ngIf="!edit && service.edit"
          class="small"
          (click)="edit = true">
    <mat-icon>edit</mat-icon>
  </button>
</p>

<div class="d-flex align-items-center pl1"
     [ngClass]="{'visible': edit, 'hidden': !edit}">
  <mat-form-field class="full-width w170">
    <app-translate #input
                   [isArea]="area"
                   [placeholder]="vt.translate(placeholder)"></app-translate>
  </mat-form-field>
  <button mat-button
          [matTooltip]="vt.translate('save.translation')"
          (click)="onSubmit()"
          class="small">
    <mat-icon class="pointer">save</mat-icon>
  </button>
  <button mat-button
          [matTooltip]="vt.translate('cancel.translation')"
          (click)="edit = false"
          class="small">
    <mat-icon class="pointer">cancel</mat-icon>
  </button>
</div>
