.visible {
  display: inline;
}

.hidden {
  display: none !important;
}

.w170 {
  min-width: 250px;
}

.small {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin: 0;
  min-width: 0;
}

.pl1 {
  padding-left: 0.5em;
}
