.main {
  min-width: 80%;
}

.edit-img,
.edit-img-separator {
  cursor: pointer;
}

.visible {
  display: inline;
}

.hidden {
  display: none !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.margin-top-text {
  margin-top: 20px;
}

.margin-center-text {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 20px;
}
.margin-center-phone {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 10px;
}
.margin-center-text-bottom {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 10px;
  margin-bottom: 20px;
}
