.main {
  min-width: 80%;
}

.edit-img, .edit-img-separator {
  cursor: pointer;
}

.visible {
  display: inline;
}

.hidden {
  display: none !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
