<a [routerLink]="routerLink"
   [fragment]="fragmentLink"
   *ngIf="routerLink; else doubleBorder">
  <ng-template [ngTemplateOutlet]="doubleBorder"></ng-template>
</a>
<ng-template #doubleBorder>
  <div class="full-height-border-double-outside right-margin width"
       *ngIf="image?.hasUrl()">
    <div class="full-height-border-double-inside">
      <div #containerImg
           class="full-height-container-img"
           (window.resize)="onResize($event)"
           *ngIf="image?.hasUrl()">
        <div class="text-block-top d-flex flex-row-reverse"
             *ngIf="service?.edit">
          <button mat-button
                  [matTooltip]="vt.translate('remove.picture.carrousel')"
                  (click)="removeFromCarrousel(image)"
                  class="right">
            <mat-icon>image_not_supported</mat-icon>
          </button>
        </div>
        <div class="text-block-white tcenter"
             *ngIf="title">
          <p><b>{{title}}</b></p>
        </div>
        <img #img
             [src]="image.url()"
             [alt]="image.description"
             [style.width.px]="width">
      </div>
    </div>
  </div>
</ng-template>
