<a [routerLink]="routerLink"
   [fragment]="fragmentLink"
   *ngIf="routerLink; else doubleBorder">
  <ng-template [ngTemplateOutlet]="doubleBorder"></ng-template>
</a>
<ng-template #doubleBorder>
  <div class="full-height-border-double-outside right-margin width">
    <div class="full-height-border-double-inside">
      <div #containerImg
           class="full-height-container-img"
           (window.resize)="onResize($event)"
           *ngIf="image?.hasUrl()">
        <div class="text-block-white tcenter"
             *ngIf="title">
          <b>{{title}}</b>
        </div>
        <img #img
             [src]="image.url()"
             [alt]="image.description"
             [style.width.px]="width">
      </div>
    </div>
  </div>
</ng-template>
