<p mat-dialog-title>{{vt.translate('image.selector')}}</p>
<div mat-dialog-content>
  <mat-tab-group #tabGroup
                 (selectedTabChange)="updateMediasList($event)">
    <mat-tab [label]="vt.translate('add.image')">
      <form [formGroup]="form"
            (ngSubmit)="onSubmit()">
        <div class="col mt-1">
          <div class="d-flex flex-column flex-md-row">
            <mat-icon *ngIf="!imageSrc"
                      class="align-self-center">photo</mat-icon>
            <img [src]="imageSrc"
                 *ngIf="imageSrc !== undefined"
                 class="img-thumbnail rounded mx-auto d-block" />
            <div class="input-group align-self-center ml-2">
              <div class="input-group-prepend"
                   *ngIf="imageSrc !== undefined">
                <button type="button"
                        class="btn btn-outline-secondary btn-icon"
                        (click)="deleteLogo()">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="custom-file">
                <input formControlName="filePathUser"
                       type="file"
                       required
                       id="customFile"
                       class="custom-file-input"
                       [lang]="vt.language"
                       (change)="onFileChange($event)" />
                <label class="custom-file-label"
                       for="customFile">{{fileName || vt.translate('picture')}}</label>
              </div>
            </div>
          </div>
          <mat-error *ngIf="submitted && f.filePathUser.errors">
            <div *ngIf="f.filePathUser.errors.required">{{vt.translate('picture.required')}}</div>
          </mat-error>
          <mat-error *ngIf="submitted && errors.get('image')">
            <div *ngFor="let child of errors.get('image')">
              {{child}}
            </div>
          </mat-error>
        </div>
        <div class="col">
          <div class="toolbox">
            <button mat-button
                    type="button"
                    (click)="zoomOut()">
              <mat-icon>zoom_out</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="zoomIn()"
                    class="align-self-center">
              <mat-icon>zoom_in</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="rotateLeft()"
                    class="align-self-center">
              <mat-icon>rotate_left</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="rotateRight()"
                    class="align-self-center">
              <mat-icon>rotate_right</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="flipHorizontal()"
                    class="align-self-center">
              <mat-icon>flip</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="flipVertical()"
                    class="align-self-center">
              <mat-icon class="rot90">flip</mat-icon>
            </button>

            <button mat-button
                    type="button"
                    (click)="toggleContainWithinAspectRatio()"
                    active="containWithinAspectRatio"
                    [ngClass]="{'active': containWithinAspectRatio }"
                    class="align-self-center">
              <mat-icon>aspect_ratio</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="toggleMaintainAspectRatio()"
                    [ngClass]="{'active': maintainAspectRatio}"
                    class="align-self-center">
              <mat-icon>crop_free</mat-icon>
            </button>

            <button mat-button
                    type="button"
                    (click)="resetImage()"
                    class="align-self-center">
              <mat-icon>format_clear</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="crop(16 / 9)"
                    [ngClass]="{'active': aspectRatio == 16 / 9}"
                    class="align-self-center">
              <mat-icon>crop_16_9</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="crop(9 / 16)"
                    [ngClass]="{'active': aspectRatio == 9 / 16}"
                    class="align-self-center">
              <mat-icon class="rot90">crop_16_9</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="crop(4 / 3)"
                    [ngClass]="{'active': aspectRatio == 4 / 3}"
                    class="align-self-center">
              <mat-icon>crop_5_4</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="crop(3 / 4)"
                    [ngClass]="{'active': aspectRatio == 3 / 4}"
                    class="align-self-center">
              <mat-icon class="rot90">crop_5_4</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="crop(1)"
                    [ngClass]="{'active': aspectRatio == 1}"
                    class="align-self-center">
              <mat-icon>crop_square</mat-icon>
            </button>
            <button mat-button
                    type="button"
                    (click)="crop(undefined)"
                    [ngClass]="{'active': aspectRatio == undefined}"
                    class="align-self-center">
              <mat-icon>crop_original</mat-icon>
            </button>
          </div>
          <app-image-cropper [imageChangedEvent]="imageChangedEvent"
                             [maintainAspectRatio]="true"
                             [containWithinAspectRatio]="containWithinAspectRatio"
                             [maintainAspectRatio]="maintainAspectRatio"
                             [aspectRatio]="aspectRatio"
                             [cropperMinWidth]="128"
                             [onlyScaleDown]="true"
                             [roundCropper]="false"
                             [canvasRotation]="canvasRotation"
                             [transform]="transform"
                             [alignImage]="'left'"
                             [style.display]="showCropper ? null : 'none'"
                             [format]="format"
                             (imageCropped)="imageCropped($event)"
                             (imageLoaded)="imageLoaded()"
                             (cropperReady)="cropperReady($event)"
                             (loadImageFailed)="loadImageFailed()"></app-image-cropper>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <app-translate #descriptionInput
                           [placeholder]="vt.translate('picture.description')"></app-translate>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-error *ngIf="submitted && errors.get()">
            <div *ngFor="let child of errors.get()">{{child}}</div>
          </mat-error>
        </div>
      </form>
    </mat-tab>
    <mat-tab [label]="vt.translate('select.image')">
      <app-manage-image></app-manage-image>
    </mat-tab>
  </mat-tab-group>

</div>

<div mat-dialog-actions
     class="d-flex flex-row-reverse">
  <button mat-button
          (click)="onSubmit()">{{vt.translate('ok')}}</button>
  <button mat-button
          (click)="onNoClick()">{{vt.translate('cancel')}}</button>
</div>
