<p mat-dialog-title>{{vt.translate('image.selector')}}</p>
<div mat-dialog-content>
  <mat-tab-group #tabGroup
                 (selectedTabChange)="updateMediasList($event)">
    <mat-tab [label]="vt.translate('add.image')">
      <form [formGroup]="form"
            (ngSubmit)="onSubmit()">
        <div class="col mt-1">
          <div class="d-flex flex-column flex-md-row">
            <mat-icon *ngIf="!imageSrc"
                      class="align-self-center">photo</mat-icon>
            <img [src]="imageSrc"
                 *ngIf="imageSrc"
                 class="img-thumbnail rounded mx-auto d-block" />
            <div class="input-group align-self-center ml-2">
              <div class="input-group-prepend"
                   *ngIf="imageSrc">
                <button type="button"
                        class="btn btn-outline-secondary btn-icon"
                        (click)="deleteLogo()">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="custom-file">
                <input formControlName="filePathUser"
                       type="file"
                       required
                       id="customFile"
                       class="custom-file-input"
                       [lang]="vt.language"
                       (change)="onFileChange($event)" />
                <label class="custom-file-label"
                       for="customFile">{{fileName || vt.translate('picture')}}</label>
              </div>
            </div>
          </div>
          <mat-error *ngIf="submitted && f.filePathUser.errors">
            <div *ngIf="f.filePathUser.errors.required">{{vt.translate('picture.required')}}</div>
          </mat-error>
          <mat-error *ngIf="submitted && errors.get('image')">
            <div *ngFor="let child of errors.get('image')">
              {{child}}
            </div>
          </mat-error>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <app-translate #descriptionInput
                           [placeholder]="vt.translate('picture.description')"></app-translate>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-error *ngIf="submitted && errors.get()">
            <div *ngFor="let child of errors.get()">{{child}}</div>
          </mat-error>
        </div>
      </form>
    </mat-tab>
    <mat-tab [label]="vt.translate('select.image')">
      <div class="d-flex justify-content-center align-items-center h150">
        <div class="img-row"
             *ngIf="medias?.length > 0">
          <ng-container *ngFor="let img of medias; index as i">
            <div class="img-column"
                 *ngIf="i % (medias.length < 16 ? 2 : 4) === 0 ">
              <ng-template [ngTemplateOutlet]="imageGrid"
                           [ngTemplateOutletContext]="{img: img}"></ng-template>
              <ng-template [ngTemplateOutlet]="imageGrid"
                           [ngTemplateOutletContext]="{img: medias[i + 1]}"
                           *ngIf="i + 1 < medias.length"></ng-template>
              <ng-template [ngTemplateOutlet]="imageGrid"
                           [ngTemplateOutletContext]="{img: medias[i + 2]}"
                           *ngIf="medias.length < 16 ? false : i + 2 < medias.length"></ng-template>
              <ng-template [ngTemplateOutlet]="imageGrid"
                           [ngTemplateOutletContext]="{img: medias[i + 3]}"
                           *ngIf="medias.length < 16 ? false : i + 3 < medias.length"></ng-template>
              <div class="container-img"
                   *ngIf="loading && (medias.length < 16 ? i + 2 : i + 4) >= medias.length">
                <mat-spinner color="accent"></mat-spinner>
              </div>
            </div>
          </ng-container>
        </div>
        <div>
          <mat-spinner color="accent"
                       *ngIf="loading && !medias"></mat-spinner>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

<div mat-dialog-actions
     class="d-flex flex-row-reverse">
  <button mat-button
          (click)="onSubmit()">{{vt.translate('ok')}}</button>
  <button mat-button
          (click)="onNoClick()">{{vt.translate('cancel')}}</button>
</div>

<ng-template #imageGrid
             let-img="img">
  <div class="border-shadow"
       [ngClass]="{'img-selected': img.id === selectedImg?.id}">
    <div class="container-img">
      <img [src]="img.url()"
           [alt]="img.description"
           (click)="selectImg(img)">
      <div class="text-block">
        <!-- <div class="d-flex align-items-center justify-content-between wrap"
             *ngIf="img.id === selectedImg?.id">
          <app-text-edit #editor
                         [value]="img"
                         [service]="this"
                         [placeholder]="'description'"
                         [title]="false"
                         [field]="'description'"></app-text-edit>
          <button *ngIf="!editor.edit"
                  mat-button
                  [matTooltip]="vt.translate('delete.picture')"
                  (click)="delete(img)"
                  class="align-self-center">
            <mat-icon>delete</mat-icon>
          </button>
        </div> -->
        <p class="align-self-center"
           *ngIf="img.description">{{getTranslations(img)}}</p>
      </div>
    </div>
  </div>
</ng-template>
