<div class="horizontalScroll">
  <!-- Top Separator -->
  <div class="justify-content-center top">
    <app-image-separator [service]="service"
                         [name]="'separator'"></app-image-separator>
  </div>
  <!-- Gallery -->
  <div class="scrolls max-height-carrousel">
    <!-- Galleries first row -->
    <div class="row-img mb-2">
      <ng-template [ngTemplateOutlet]="galleryColumn"
                   [ngTemplateOutletContext]="{c: galleries.c1}"></ng-template>
      <ng-template [ngTemplateOutlet]="galleryColumn"
                   [ngTemplateOutletContext]="{c: galleries.c3}"></ng-template>
    </div>
    <!-- Galleries second row -->
    <div class="row-img mt-1">
      <ng-template [ngTemplateOutlet]="galleryColumn"
                   [ngTemplateOutletContext]="{c: galleries.c2}"></ng-template>
    </div>
    <!-- Galleries impair picture at the end -->

  </div>
  <!-- Bottom separator -->
  <div class="justify-content-center bottom">
    <app-image-separator [service]="service"
                         [name]="'separator'"></app-image-separator>

  </div>
</div>

<ng-template #galleryColumn
             let-c="c">
  <ng-container *ngFor="let gallery of c">
    <div class="border-double-outside right-margin">
      <div class="border-double-inside">
        <a routerLink="galleries"
           [fragment]="gallery.title.split(' ').join('_')">
          <div class="container-img"
               *ngIf="gallery.main?.hasUrl()">
            <div class="text-block-white tcenter"
                 *ngIf="gallery.title">
              <b>{{gallery.title}}</b>
            </div>
            <img [src]="gallery.main.url()"
                 [alt]="gallery.main.description">
          </div>
        </a>
      </div>
    </div>
  </ng-container>
</ng-template>
