<div class="container-img"
     class="main"
     *ngIf="service.hasImage(name, child) || service.edit"
     [ngClass]="{pointer: service.edit}">
  <div class="text-block-top d-flex justify-content-between"
       [ngStyle]="{'width': img.width + 'px', 'margin-left': img.offsetLeft + 'px'}"
       *ngIf="service.edit"
       (click)="openDialog($event, name)"
       [ngClass]="{'edit-image': service.edit}">
    <p class="align-self-center"
       *ngIf="!service.hasUrl(name, child)">{{vt.translate('click.add.' + name)}}</p>
    <p class="align-self-center"
       *ngIf="service.hasUrl(name, child)">{{vt.translate('click.update.' + name)}}</p>
    <button *ngIf="service.hasUrl(name, child)"
            mat-button
            [matTooltip]="vt.translate('remove.picture')"
            (click)="removePicture($event, name)"
            class="align-self-center">
      <mat-icon>image_not_supported</mat-icon>
    </button>
  </div>
  <img [src]="service.getUrl(name, element.nativeElement.offsetWidth, child)"
       [alt]="service.getDescription(name, child)"
       (click)="openDialog($event, name)"
       #img
       [ngClass]="{ 'border': service.border(name, child), 'edit-img': service.edit && !service.hasUrl(name, child)}"
       class="img-fluid" />

</div>
