<mat-sidenav-container *ngIf="!vt.loading"
                       class="sidenav-container"
                       fullscreen>
  <mat-sidenav #drawer
               class="sidenav"
               [fixedInViewport]="(isHandset$ | async) === false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{vt.translate('menu')}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         [routerLinkActiveOptions]="{ exact: true}"
         routerLink="">{{vt.translate('home')}}</a>
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         [routerLinkActiveOptions]="{ exact: true }"
         routerLink="shop">{{vt.translate('shop')}}</a>
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         routerLink="galleries">{{vt.translate('gallery')}}</a>
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         routerLink="about">{{vt.translate('about')}}</a>
      <a mat-list-item
         class="categoryHelps"
         routerLinkActive="active-link"
         class="hover-link"
         routerLink="contact">{{vt.translate('contact')}}</a>
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         routerLink="events">{{vt.translate('events')}}</a>
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         routerLink="designerCircle">{{vt.translate('designer.circle')}}</a>
    </mat-nav-list>
    <mat-toolbar *ngIf="isMerchant">{{vt.translate('merchant')}}</mat-toolbar>
    <mat-nav-list *ngIf="isMerchant">
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         routerLink="manage-image">{{vt.translate('manage.images')}}</a>
    </mat-nav-list>
    <mat-toolbar *ngIf="isAdmin">{{vt.translate('admin')}}</mat-toolbar>
    <mat-nav-list *ngIf="isAdmin">
      <a mat-list-item
         routerLinkActive="active-link"
         class="hover-link"
         routerLink="manage-user">{{vt.translate('users')}}</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="(isHandset$ | async) === true">
      <app-language></app-language>
      <a mat-list-item
         routerLinkActive="menu-active-link"
         routerLink="signup"
         [queryParams]="{returnUrl: returnUrl}"
         *ngIf="!currentUser">{{vt.translate('signup')}}</a>
      <a mat-list-item
         routerLinkActive="menu-active-link"
         routerLink="signin"
         [queryParams]="{returnUrl: returnUrl}"
         *ngIf="!currentUser">{{vt.translate('signin')}}</a>
      <a mat-list-item
         routerLinkActive="menu-active-link"
         (click)="logout()"
         *ngIf="currentUser">{{vt.translate('logout')}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="(isHandset$ | async)"
              [matTooltip]="vt.translate('tooltip.menu')">
        <mat-icon [attr.aria-label]="vt.translate('aria.label.btn.menu')">menu</mat-icon>
      </button>
      <p class="align-content-center title ml-auto mr-auto">En Équilibre<br />Claudia Poirot</p>
      <mat-nav-list *ngIf="(isHandset$ | async) === false">
        <app-language></app-language>
        <a mat-button
           routerLinkActive="menu-active-link"
           class="menu-hover-link"
           routerLink="signup"
           [queryParams]="{returnUrl: returnUrl}"
           *ngIf="!currentUser">{{vt.translate('signup')}}</a>
        <a mat-button
           routerLinkActive="menu-active-link"
           class="menu-hover-link"
           routerLink="signin"
           [queryParams]="{returnUrl: returnUrl}"
           *ngIf="!currentUser">{{vt.translate('signin')}}</a>
        <a mat-button
           routerLinkActive="menu-active-link"
           class="menu-hover-link"
           (click)="logout()"
           *ngIf="currentUser">{{vt.translate('logout')}}</a>
      </mat-nav-list>
    </mat-toolbar>

    <!-- Add Content Here -->
    <main class="mt-md-2 ml-md-2 mr-md-2 mb-md-2">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
<p *ngIf="vt.loading">Loading...</p>
