.scrolls {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  margin-left: auto;
  margin-right: auto;
}

.inline-carrousel {
  flex: 0 0 auto;
}

.max-height-carrousel img {
  max-height: 200px;
}

.max-height-carrousel .max-height-carrousel-btn {
  min-height: 200px;
}

.padding {
  padding-right: 1em;
  padding-bottom: 1em;
}

.padding:first-child {
  padding-left: 1em;
}

.padding-top-bottom {
  padding-top: 1em;
  padding-bottom: 1em;
}

.right {
  margin-right: 0;
}

.text-flex-right-bottom {
  margin-top: 10px;
}
