/* .size {
  min-width: 250px;
  min-height: 150px;
}*/ .size {
  max-height: 80em;
}

.min-size {
  min-width: 250px;
  min-height: 100px;
}

.action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.action-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.edit-image {
  cursor: pointer;
}

.small-size {
  min-width: 100%;
  max-height: 10em;
}

.separator {
  overflow: hidden;
  max-height: 10em;
  min-height: 5em;
  min-width: 40em;
  width: 100%;
  min-width: 100%;
}

.separator-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
