<div class="container"
     *ngIf="(isHandset$ | async) === true">
  <div class="row justify-content-center mb-2">
    <app-image-title [service]="home"
                     [name]="'background'"
                     [titleName]="'title'"
                     [subtitleName]="'subtitle'"></app-image-title>
  </div>
  <div class="row justify-content-center">
    <app-image-separator [service]="home"
                         [name]="'separator'"></app-image-separator>
  </div>
  <div class="row-img ml-2 mr-2"
       [ngClass]="{'mb-1': galleries.c3?.length === 0}">
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c1}"></ng-template>
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c2}"></ng-template>
  </div>
  <div class="row justify-content-center mb-2"
       *ngIf="galleries.c3?.length > 0">
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c3}"></ng-template>
  </div>
</div>
<div class="container full-height"
     *ngIf="(isHandset$ | async) !== true">
  <div class="row-img justify-content-center mb-2">
    <div class="column-img mr-4">
      <app-image-title [service]="home"
                       [name]="'background'"
                       [titleName]="'title'"
                       [subtitleName]="'subtitle'"></app-image-title>
    </div>
    <div class="half-size">
      <div class="row justify-content-center top">
        <app-image-separator [service]="home"
                             [name]="'separator'"></app-image-separator>
      </div>
      <div class="limitHeight align-items-center">
        <div class="row-img mb-2">
          <ng-template [ngTemplateOutlet]="galleryColumn"
                       [ngTemplateOutletContext]="{c: galleries.c1}"></ng-template>
        </div>
        <div class="row-img mb-2">
          <ng-template [ngTemplateOutlet]="galleryColumn"
                       [ngTemplateOutletContext]="{c: galleries.c2}"></ng-template>
        </div>
        <div class="row-img mb-2">
          <ng-container *ngIf="galleries.c3?.length > 0">
            <ng-template [ngTemplateOutlet]="galleryColumn"
                         [ngTemplateOutletContext]="{c: galleries.c3}"></ng-template>

          </ng-container>
        </div>
      </div>

      <div class="row justify-content-center bottom">
        <app-image-separator [service]="home"
                             [name]="'separator'"></app-image-separator>

      </div>
    </div>

  </div>
</div>

<ng-template #galleryColumn
             let-c="c">
  <div class="column-img">
    <ng-container *ngFor="let gallery of c">
      <div class="border-double-outside">
        <div class="border-double-inside">
          <a routerLink="galleries"
             [fragment]="gallery.title.split(' ').join('_')">
            <div class="container-img"
                 *ngIf="gallery.main?.hasUrl()">
              <div class="text-block-white tcenter"
                   *ngIf="gallery.title">
                <b>{{gallery.title}}</b>
              </div>
              <img [src]="gallery.main.url()"
                   [alt]="gallery.main.description">
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
<div class="float-right-bottom">
  <button mat-fab
          color="primary"
          class="action-bottom"
          *ngIf="home.canEdit"
          (click)="home.edit = !home.edit"
          [matTooltip]="vt.translate('aria.edit.home')"
          [attr.aria-label]="vt.translate('aria.edit.home')">
    <mat-icon>edit</mat-icon>
  </button>
</div>
