<div class="container">
  <div class="row justify-content-center mb-3">
    <ng-template [ngTemplateOutlet]="imgContainer"
                 [ngTemplateOutletContext]="{name: 'background', small: false, separator: false}"></ng-template>
  </div>
  <div class="row justify-content-center">
    <ng-template [ngTemplateOutlet]="imgContainer"
                 [ngTemplateOutletContext]="{name: 'separator', small: true, separator: true}"></ng-template>
  </div>
  <div class="row-img">
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c1}"></ng-template>
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c2}"></ng-template>
  </div>
</div>
<ng-template #galleryColumn
             let-c="c">
  <div class="column-img">
    <ng-container *ngFor="let gallery of c">
      <div class="container-img"
           *ngIf="gallery.main?.hasUrl()">
        <div class="text-block tcenter"
             *ngIf="gallery.title">
          {{gallery.title}}
        </div>
        <a routerLink="galleries"
           [fragment]="gallery.title.split(' ').join('_')">
          <img [src]="gallery.main.url()"
               [alt]="gallery.main.description">
        </a>
      </div>
    </ng-container>
  </div>
</ng-template>
<ng-template #imgContainer
             let-name="name"
             let-small="small"
             let-separator="separator">
  <div class="container-img"
       [ngClass]="{separator: separator, 'min-size': home.edit}"
       *ngIf="(!separator && home.hasImage(name) && !home.hasError(name)) || home.edit">
    <div class="text-block-top-center d-flex flex-column align-items-center"
         *ngIf="!small && home.hasTitleOrSubtitle()">
      <div class="row align-items-center">
        <app-text-edit [value]="home"
                       [service]="home"
                       [placeholder]="'title'"
                       [title]="true"
                       [field]="'title'"></app-text-edit>
      </div>
      <div class="row">
        <app-text-edit [value]="home"
                       [service]="home"
                       [placeholder]="'subtitle'"
                       [field]="'subtitle'"></app-text-edit>
      </div>
    </div>
    <div class="text-block-top d-flex justify-content-between"
         *ngIf="home.edit"
         [ngClass]="{'edit-image': home.edit}"
         (click)="openDialog($event, name)">
      <p class="align-self-center"
         *ngIf="home.getUrl(name) === ''">{{vt.translate('click.add.' + name)}}</p>
      <p class="align-self-center"
         *ngIf="home.getUrl(name) !== ''">{{vt.translate('click.update.' + name)}}</p>
      <button *ngIf="home.getUrl(name) !== ''"
              mat-button
              [matTooltip]="vt.translate('remove.picture')"
              (click)="removePicture($event, name)"
              class="align-self-center">
        <mat-icon>image_not_supported</mat-icon>
      </button>
    </div>
    <img [src]="home.getUrl(name)"
         [alt]="home.getDescription(name)"
         (click)="openDialog($event, name)"
         (error)="home.onError(name)"
         [ngClass]="{ 'border': home.border(name),
          'size': !small,
          'edit-img': home.edit && !separator,
          'edit-img-separator': home.edit && separator,
          'edit-image': home.edit}"
         class="img-fluid"
         *ngIf="!separator || home.edit" />

  </div>
  <div class="separator separator-background"
       [ngStyle]="{'background-image': 'url(' + home.getUrl(name) + ')'}"
       *ngIf="separator && !home.edit"></div>
</ng-template>
<div class="float-right-bottom">
  <button mat-fab
          color="primary"
          class="action-bottom"
          *ngIf="home.canEdit"
          (click)="home.edit = !home.edit"
          [matTooltip]="vt.translate('aria.edit.home')"
          [attr.aria-label]="vt.translate('aria.edit.home')">
    <mat-icon>edit</mat-icon>
  </button>
</div>
