.size {
  min-width: 250px;
  min-height: 150px;
}

.min-size {
  min-width: 250px;
  min-height: 100px;
}

.action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.action-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.float-right-bottom {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

  .edit-image {
  cursor: pointer;
}

.small-size {
  min-width: 100%;
  max-height: 10em;
}

.size {
  max-height: 80em;
}
