<div class="container"
     *ngIf="(isHandset$ | async) === true">
  <div class="row justify-content-center mb-2">
    <app-image-title [service]="home"
                     [name]="'background'"
                     [titleName]="'title'"
                     [subtitleName]="'subtitle'"></app-image-title>
  </div>
  <div class="row justify-content-center">
    <app-image-separator [service]="home"
                         [name]="'separator'"></app-image-separator>
  </div>
  <div class="row-img ml-2 mr-2"
       [ngClass]="{'mb-1': galleries.c3?.length === 0}">
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c1}"></ng-template>
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c2}"></ng-template>
  </div>
  <div class="row justify-content-center mb-2"
       *ngIf="galleries.c3?.length > 0">
    <ng-template [ngTemplateOutlet]="galleryColumn"
                 [ngTemplateOutletContext]="{c: galleries.c3}"></ng-template>
  </div>
</div>
<div class="container vertical-scroll">
  <div class="full-height"
       *ngIf="(isHandset$ | async) !== true">
    <div class="row-img justify-content-center">
      <div class="half-size flex-vcenter">
        <app-image-title [service]="home"
                         [name]="'background'"
                         [titleName]="'title'"
                         [subtitleName]="'subtitle'"></app-image-title>
      </div>
      <div class="half-size">
        <app-horizontal-galleries [service]="home"
                                  [routerLink]="'galleries'"></app-horizontal-galleries>
      </div>

    </div>
  </div>
</div>

<ng-template #galleryColumn
             let-c="c">
  <div class="column-img">
    <div *ngFor="let gallery of c"
         class="mt-2 d-flex justify-content-center">
      <app-image-double-border [routerLink]="'galleries'"
                               [fragmentLink]="gallery.title.split(' ').join('_')"
                               [image]="gallery.main"
                               [title]="gallery.title"></app-image-double-border>
    </div>
  </div>
</ng-template>
<div class="float-right-bottom">
  <button mat-fab
          color="primary"
          class="action-bottom"
          *ngIf="home.canEdit"
          (click)="home.edit = !home.edit"
          [matTooltip]="vt.translate('aria.edit.home')"
          [attr.aria-label]="vt.translate('aria.edit.home')">
    <mat-icon>edit</mat-icon>
  </button>
</div>
