.center {
  text-align: center;
}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
.btn-back-next {
  top: 0px;
  bottom: 0px;
  background: transparent;
  border: none;
}

.margin-right {
  margin-right: 40px;
}

.float-right-bottom > * {
  margin-right: 20px;
}

.float-left-middle,
.float-right-middle {
  position: absolute;
  top: 64px;
  bottom: 0px;
  cursor: pointer;
  vertical-align: center;
  z-index: 1026;
  background: transparent;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.38);
}

.float-right-middle {
  right: 0px;
}
.float-left-middle {
  left: 0px;
  display: flex;
  justify-content: right;
}

.tild {
  font-size: xx-large;
  margin-bottom: 0.5em;
}
