.separator {
  overflow: hidden;
  max-height: 10em;
  min-height: 5em;
  min-width: 100%;
  width: 100%;
}

.separator-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.main {
  min-width: 80%;
}

.edit-image {
  cursor: pointer;
}

.visible {
  display: inline;
}

.hidden {
  display: none !important;
}
