
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
  $font-family: 'cursive'
  /* $font-family: 'CmmercialScript BT' */
);
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$en-equilibre-primary: mat-palette($mat-yellow, A50, A100, A400);
$en-equilibre-accent: mat-palette($mat-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$en-equilibre-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$en-equilibre-theme: mat-light-theme($en-equilibre-primary, $en-equilibre-accent, $en-equilibre-warn);

$custom-background-color: #fff6e8;
$background: map-get($en-equilibre-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$en-equilibre-theme: map_merge($en-equilibre-theme, (background: $background));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($en-equilibre-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #fff6e8;
}
body {
  margin: 0;
  font-size: x-large;
}

html { scroll-behavior: smooth; }

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.btn-icon {
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

$custom-file-text: (
  en: "Browse",
  fr: "Ouvrir"
);

.active-link {
  font-weight: 800;
  background: rgba(0, 0, 0, 0.04);
}
.tcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img {
  position: relative;
  min-height: 100px;
}

.edit-img {
  min-width: 100%;
  min-height: 250px;
  height: 100% !important;
  width: 100% !important;
}

.edit-img-separator {
  min-width: 100%;
  min-height: 6em;
  width: 100% !important;
}

b {
  font-size: x-large;
}

.min-size {
  cursor: pointer;
}

p {
  font-weight: 800!important;
  font-size: x-large;
  margin: 0!important;
}
h1 {
  font-weight: 900!important;
  font-size: xxx-large!important;
  margin-bottom: 0.5em !important;
  margin-top: 0.5em !important;
}

.color {
  color: rgba(94, 62, 22, 0.6);
}
.text-block-white {
  position: absolute;
  background-image: linear-gradient(to top, rgba(255, 246, 232, 1), rgba(255, 246, 232, 0));
  width: 100%;
  color: rgba(94, 62, 22, 0.6);
  min-height: 3em;
}
.text-block, .text-block-top, .text-block-top-center {
  position: absolute;
  /* background-color:rgba(0,0,0,0.5); */
  background-color: rgba(94, 62, 22, 0.6);
  width: 100%;
  color: white;
  min-height: 3em;
}

.text-block p, .text-block-top p, .text-block-top-center, .text-block-white {
  color: white;
  font-weight: bold;
  opacity: 1.0;
  vertical-align: middle;
  display: table-cell;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 1em;
}

.text-block-white {
  color: rgba(94, 62, 22, 0.6);
  bottom: 0;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.2em;
  padding-right: 1em;
}

/* .text-block button {
  background-color: rgba(255,255,255,0.5);
} */

.text-block-top-center {
  top: 5em;
  cursor: default;
}
.text-block-top {
  top: 0;
}

.text-block {
  bottom: 0;
}

.border-shadow{
  position: relative;
  cursor: pointer;
  padding: 0.5em;
}

.pointer {
  cursor: pointer;
}

.float-right-bottom {
  z-index: 1030;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.separator {
  overflow: hidden;
  max-height: 5em;
  min-height: 5em;
  min-width: 100%;
  width: 100%;
}

.separator-background {
  background-repeat: repeat;
  background-attachment: fixed;
  width: 100%;
  background-size: auto;
}

/* .border-double {
  border-style: double;
  border-width: medium;
  border-color: black;
} */

.border-double {
    border: solid 8px #000;
    box-shadow: 0 0 0 14px #000;
    outline: solid 8px #fff;
}

.border-double-outside {
  padding: 0.2em;
}

.border-double-outside, .border-double-inside {
  border: solid 1.5px;
  border-color: #5e3e16;
}

.half-size {
  max-width: 47%;
  min-width: 47%;
  position: relative;
  max-height: 100%;
}

.half-size:first-child {
  margin-right: 1em;
}

.half-size:last-child {
  margin-left: 1em;
}

.vertical-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
   &::-webkit-scrollbar {
    display: none;
  }
  margin-left: auto;
  margin-right: auto;
  top: 64px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.flex-vcenter {
  display: flex;
  align-items: center;
}

.mat-menu-panel {
  min-width: auto !important;
  min-height: auto !important;
}

.edit-image {
  cursor: pointer;

}

.full-height {
  height: 100%;
  width: 100%;
  min-width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
