
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$en-equilibre-primary: mat-palette($mat-yellow, A50, A100, A400);
$en-equilibre-accent: mat-palette($mat-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$en-equilibre-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$en-equilibre-theme: mat-light-theme($en-equilibre-primary, $en-equilibre-accent, $en-equilibre-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($en-equilibre-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.btn-icon {
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

$custom-file-text: (
  en: "Browse",
  fr: "Ouvrir"
);

.container-img {
  position: relative;
}

.edit-img {
  min-width: 100%;
  min-height: 250px;
}

.edit-img-separator {
  min-width: 100%;
  min-height: 250px;
}
.text-block, .text-block-top, .text-block-top-center {
  position: absolute;
  background-color:rgba(0,0,0,0.5);
  width: 100%;
  color: white;
}

.text-block p, .text-block-top p, .text-block-top-center {
  color: white;
  font-weight: bold;
  opacity: 1.0;
  vertical-align: middle;
  display: table-cell;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/* .text-block button {
  background-color: rgba(255,255,255,0.5);
} */

.text-block-top-center {
  top: 5em;
  cursor: default;
}
.text-block-top {
  top: 0;
}

.text-block {
  bottom: 0;
}

.border-shadow{
  position: relative;
  cursor: pointer;
  padding: 0.5em;
}

.pointer {
  cursor: pointer;
}

.float-right-bottom {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.container{
  padding-left: 0px;
  padding-right: 0px;
}
